* {
	border: 0;
	margin: 0;
	padding: 0;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 80px;
	background-color: navy;
}
.nav > div {
	color: white;
	font-size: 2rem;
	font-weight: 100;
	letter-spacing: 4px;
	border: 1px solid white;
	padding: 5px 30px;
	border-radius: 5px;
}
.nav ul {
	display: flex;
	list-style: none;
	align-self: flex-end;
}
.nav li a {
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	font-weight: 400;
}
.nav li:not(:last-child) {
	margin-right: 70px;
}
/* .nav li::before, */
.nav li::after {
	content: '';
	display: block;
	background-color: white;
	height: 2px;
	width: 0%;
	transition: all .2s ease-in;
}
.nav li::before {
	position: relative;
	bottom: 10px;
}
.nav li::after {
	position: relative;
	top: 20px;
}
.nav li:hover::before,
.nav li:hover::after {
	width: 100%;
}
